.custom-breadcrumb{
	position: relative;
	background-color: $black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 35px;
	position: relative;
	z-index: 1;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		background: $theme-color-2;
		opacity: 0.69;
	}
	.breadcrumb-main{
	  position: relative;
	  z-index: 11; 
	}
	.breadcrumb-container-inner{
	  	position: relative;
	  	padding: 110px 0 110px;
	  	@include media-breakpoint-down(lg){
			padding-bottom: 90px;
			padding-top: 90px;
	  	}
	  	@include media-breakpoint-down(md){
		 	padding-bottom: 70px;
		 	padding-top: 70px;
	  	}
	  	&.align-center{
			text-align: center;
	  	}
	  	&.align-right{
			text-align: right;
	  	}
	}
	.heading-title{
		font-size: 40px;
		color: $white;
		margin: 2px 0 0;
		word-wrap: break-word;
		@include media-breakpoint-down(lg){
		 	font-size: 36px; 
	  	}
	  	@include media-breakpoint-down(md){
		 	font-size: 32px; 
	  	}
	  	@include media-breakpoint-down(sm){
		 	font-size: 28px;
	  	}
	}
  	.breadcrumb{ 
		margin-bottom: 0;
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		text-transform: capitalize;
		color: $white;
		a{
			color: $white;
			&:hover{
				text-decoration: underline;
			}
		}
		li{
			float: left;
			position: relative;
			z-index: 11;
			line-height: 1;
			padding: 0 18px;
			&:after{
				font-size: 13px;
			  position: absolute;
			  bottom: 0;
			  left: -3px;
			  z-index: 1; 
			  color: $white;
			  content: "\f054";
			  font-family: "Font Awesome 5 Free";
    			font-weight: 900;
			}
			&:first-child{
				padding-left: 0;
				&:after{
					display: none;
				}
			}
			&:last-child{
				padding-right: 0;
			}
			&.active{
				color: $theme-color;
			}
		}
	}
  .breadcrumb-overlay{
	 position: absolute;
	 @include size(100%, 100%);
	 z-index: 1;
	 top: 0;
	 left: 0;
  }
  
  &.text-light{
	 .heading-title{
		color: $white 
	 }
  }
}

body.home.blog{
  .title-layout-standard{ 
	 .custom-breadcrumb{
		.heading-title{
		  display: inline-block!important;
		  float: left;
		  font-size: 18px;
		  margin: 5px 0 0;
		}
	 }
  }
}