.tribe-common h1, .tribe-common h2, .tribe-common h3, .tribe-common h4, .tribe-common h5, .tribe-common h6, .tribe-common .tribe-common-h--alt{
	font-weight: 600;
	    margin-top: 15px;
    margin-bottom: 20px;
}
#tribe-events-content a.btn-black{
	color: $white;
}
#tribe-events-footer{
	padding: 0!important;
	margin: 0!important;
	border: 0!important;
}
.tribe-events-page-title{
  	margin-bottom: 30px;
}

.tribe-event-list{
	&__single{
		margin-bottom: 30px!important;
	  	background: $white;
	  	transition: all 0.35s;
	  	@media(min-width: 768px){
	 		display: flex;
	 	}
	}
  	&__left{
	 	flex: 0 0 35%;
	 	overflow: hidden;
	 	.tribe-events-event-image{
		  	width: 100%;
		  	height: 100%;
		  	position: relative; 
		  	img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				@media(min-width: 768px){
					position: absolute;
					left: 0;
					top: 0;
				}
		  	}
		}
	}
	&__right{
   	flex: 0 0 65%;
   }
	&__content{
		padding: 40px!important;
		@media(max-width: 1024px){
	 		padding: 30px!important;
	 	}
	}		
	&__date{
	  	background: #F3F0EC;
		font-size: 14px;
		line-height: 1;
		padding: 10px!important;
		color: $theme-color-2;
		width: 142px;
		overflow: hidden;
		padding-left: 41px!important;
		position: relative;
		.icon{
			background: $theme-color;
			color: $white;
			width: 31px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 20px;
		} 
   }
   &__title{
   	font-size: 24px;
   	line-height: 28px;
   	font-weight: 600;
	  	letter-spacing: -0.48px; 
	  	margin-top: 25px!important;
	}
	&__meta{
		margin-top: 25px!important;
		padding-top: 15px!important;
		border-top: 1px solid #E2DCD5!important;
		@media (min-width: 768px) {
			display: flex;
	  		justify-content: space-between;
	  		align-items: center;
		}
	}
	&__address{
		display: flex;
		align-items: center;
		margin: 15px 0!important;
		.icon{
			flex: 0 0 40px;
			margin-right: 15px;
			width: 40px;
			height: 40px;
			background: #F3F0EC;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			color: $theme-color;
		}
		abbr{
			margin: 0 3px;
		}
	}
	&__desc{
  		line-height: 28px;
	}
	&__action{
		@media (min-width: 768px) {
			 flex: 0 0 30%;
			 text-align: right;
			 padding-left: 15px;
		}
		a{
			background: $theme-color!important;
			color: $white!important;
			padding: 15px !important;
			font-size: 13px;
		}
	}
  	&:hover{
	 	box-shadow: 0px 20px 20px 0px rgba(63, 56, 54, 0.04);
  	}
}

.event-block-one{
	&__single{
		position: relative;
		margin-bottom: 30px;
		padding: 30px;
		padding-bottom: 20px;
		border: 1px solid $border-color;
		transition: all 0.35s;
		@media(max-width: 1024px){
			padding: 20px;
		}
	}
	&__image{
		position: relative;
		img{
			clip-path: polygon(165px 55px, 165px 0, 100% 0, 100% 100%, 0 100%, 0 55px);
		}
	}
	&__start-date{
		position: absolute;
		top: 0;
		left: 0;
		background: #F3F0EC;
		font-size: 14px;
		line-height: 1;
		padding: 10px 0;
		color: $theme-color-2;
		width: 142px;
		text-align: center;
		overflow: hidden;
		padding-left: 31px;
		.icon{
			background: #E9C138;
			color: $theme-color-2;
			width: 31px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 20px;
		}
	}
	&__title{
		margin: 20px 0 0;
		font-size: 22px;
		font-weight: 600;
		line-height: 28px; 
		letter-spacing: -0.48px;
		@media (max-width: 1024px){
			font-size: 20px;
		}
	}
	&__address{
		color: $body-color;
		font-weight: 500;
		font-size: 14px;
		margin-top: 5px;
		a{
			color: $link-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__single{
		&:hover{
			background: $white;
			.event-block-one__title{
				color: $theme-color;
			}
			.event-block-one__address{
				color: $body-color!important;
				font-size: 14px;
				margin-top: 5px;
				a{
					color: $headings-color!important;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.swiper-slide.item-active.center{
	.event-block-one__single{
		background: $white;
	}
	.event-block-one__title{
		color: $theme-color;
	}
	.event-block-one__address{
		color: $body-color;
		font-size: 14px;
		margin-top: 5px;
		.icon{
			color: $theme-color;
		}
		a{
			color: $headings-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}
} 

.elementor-widget-gva-events{
	&.style-light{
		.event-block-one{
			&__single{
				border-color: rgba(255, 255, 255, 0.5);
			}
			&__title{
				color: $white;
			}
			&__address{
				color: rgba(255, 255, 255, 0.9);
				a{
					color: $white;
				}
			}
			&__single:hover{
				.event-block-one__title{
					color: $theme-color;
				}
			}
		}
	}
}
.event-block-two{
	&__single{
		position: relative;
		margin-bottom: 30px;
		width: 100%;
	}
	&__wrap{
		position: relative;
	}
	&__image{
		position: relative;
		img{
			width: 100%!important;
			height: 100%!important;
			object-fit: cover;
		}
	}
	&__start-date{
		position: relative;
		background: #F3F0EC;
		font-size: 14px;
		line-height: 1;
		padding: 10px;
		color: $theme-color-2;
		width: 142px;
		overflow: hidden;
		padding-left: 41px;
		.icon{
			background: $theme-color;
			color: $white;
			width: 31px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 20px;
		}
	}
	&__content{
		background: $white;
		padding: 30px;
		@media (min-width: 481px){
			position: absolute;
			right: 30px;
			bottom: 30px;
		}
		@media (max-width: 1024px){
			padding: 20px;
		}
	}
	&__title{
		margin: 20px 0 0;
		font-size: 24px;
		font-weight: 600;
		line-height: 28px; 
		letter-spacing: -0.48px;
		@media (max-width: 1024px){
			font-size: 20px;
		}
	}
	&__address{
		font-size: 14px;
		margin-top: 6px;
		font-weight: 500;
		.icon{
			color: $theme-color;
			margin-right: 5px;
		}
	}
	&__single{
		&:hover{
			.event-block-two__title{
				
			}
		}
	}
}
.tribe-event-block{
	max-width: 500px;
	margin: 0 auto 30px;
	position: relative;
	overflow: hidden;
  	.block-content{
  		position: relative;
  		.tribe-event-content{
  			position: absolute;
  			bottom: 0;
  			left: 0;
  			right: 30px;
  			z-index: 11;
  			color: $white;
  			padding: 25px 30px 25px;
  			&:after{
  				content: '';
  				position: absolute;
  				top: 0;
  				left: 0;
  				width: 100%;
  				height: 100%;
  				background: #000;
  				opacity: 0.6;
  				z-index: -1;
  			}
  			.tribe-start-date{
  				position: absolute;
  				color: $white;
  				font-size: 10px;
  				font-weight: 600;
  				background: $theme-color;
  				bottom: 100%;
  				right: 0;
  				z-index: 1;
  				padding: 10px 15px;
  				text-transform: uppercase;
  				white-space: nowrap;
  				line-height: 1;
  				letter-spacing: 1px;
  			}
  			.tribe-events-event-meta{
  				font-size: 14px;
  				font-weight: 300;
  				i{
  					margin-right: 5px;
  					color: $theme-color;
  				}
  			}
  			.event-title{
  				color: $white;
  				font-size: 18px;
  				line-height: 26px;
  				margin: 0;
  				letter-spacing: 0;
  			}
  		}
  	}
  	.tribe-event-url{
  		position: absolute;
  		@include size(100%, 100%);
  		top: 0;
  		left: 0;
  		z-index: 11;
  	}
}

.tribe-events{
  	.tribe-events-c-ical__link{
	 	border-color: $theme-color;
	 	color: $theme-color;
	 	&:before{
			display: none;
	 	}
	 	&:hover, &:active, &:focus{
			background-color: $theme-color;
	 	}
  	}
}

.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn{
	background: $theme-color;
	&:hover, &:active, &:focus{
		background: $theme-color;
		opacity: 0.8;
	}
}

.tribe-events-l-container{
  	padding-left: 0!important;
  	padding-right: 0!important;
}

.tribe-events-calendar-list{
  	.tribe-events-calendar-list__month-separator{
	 	margin-bottom: 30px;
  	}
}

.event-layout-list{
  	.event-list-item{
	 	margin-bottom: 30px;
  	}
}

.tribe-events-single{
  	margin: 65px 0 100px!important;
  	@media(max-width: 1024px){
  		margin: 45px 0 60px!important;
  	}
  	.tribe-events-back{
	 	margin-bottom: 5px;
  	}
  	.tribe-events-single-event-title{
	 	font-size: 32px;
	 	line-height: 42px;
	 	margin-bottom: 15px;
	 	color: $headings-color;
  	}
  	.tribe-event-content-inner{
  		.tribe-events-event-image{
  			text-align: center;
  		}
  	}
  	.tribe-events-schedule{
	 	color: $black;
	 	.icon{
			margin-right: 6px;
			color: $theme-color;
	 	}
  	}
  	.tribe-events-event-meta{
	 	background: none;
	 	border: none;
	 	margin: 0;
	 	padding: 0;
	 	.tribe-events-single-section-title{
			font-size: 20px;
	 	}
	 	.tribe-event-single-detail{
			padding: 30px;
			border: 1px solid $border-color;
			box-shadow: 0px 20px 20px 0px rgba(63, 56, 54, 0.04);
			margin-top: 30px;
			width: 100%;
			.tribe-events-single-section-title{
		  		display: none;
			}
			.tribe-event-single-meta-detail{
			  	> div{
				 	float: left;
				 	margin-right: 20px;
				 	font-size: 16px;
				 	font-weight: 500;
				 	.icon{
						color: $theme-color;
						margin-right: 3px;
				 	}
				 	a{
						color: $headings-color;
						&:hover{
					  		text-decoration: underline;
						}
					}
			  	}
			  	.event-meta-tags{
				 	dt, dd{
						clear: none;
						display: inline;
				 	}
			  	}
			}
	 	}
		.tribe-event-meta-bottom{
			margin: 50px 0 25px;
			width: 100%;
			.tribe-events-meta-group{
			  	width: 100%;
			  	padding: 0;
			  	margin: 0;
			  	.tribe-events-single-section-title{
				 	color: $white;
				 	margin: 0 0 35px;
			  	}
			}
			.tribe-events-venue-map{
			  	padding: 0;
			  	margin: 0;
			  	width: 100%;
			  	border: none;
			  	border-radius: 0;
			  	> div, > iframe{
				 	min-height: 310px;
				 	max-height: 310px;
				 	margin-bottom: -6px;
			  	}
			}
			.event-single-organizer{
			  	overflow: hidden;
			  	> .content-inner{
				 	background: $black;
				 	position: relative;
				 	float: left;
				 	width: 100%;
				 	padding: 45px 50px;
				 	color: $white;
				 	@include media-breakpoint-down(lg){
						padding: 35px 30px;
				 	}
				 	&:after{
						content: '';
						background: $black;
						@include size(100%, 200px);
						position: absolute;
						top: 100%;
						left: 0;
						z-index: 1;
				 	}
				 	a{
						color: $white;
						&:hover{
					  		text-decoration: underline;
						}
				 	}
				 	.meta-item{
						font-weight: 500;
						font-size: 16px;
						margin-bottom: 15px;
						.icon{
						  	margin-right: 10px;
						  	display: inline-block;
						  	position: relative;
						  	top: 0;
						  	svg{
							 	fill: $theme-color;
							 	width: 25px;
							 	height: auto;
						  	}
						}
				 	}
			  	}
			}
			.event-single-venue{
			  	overflow: hidden;
			  	.tribe-events-single-section-title{
			  		color: $white;
			  	}
			  	> .content-inner{
				 	background: $theme-color;
				 	position: relative;
				 	float: left;
				 	width: 100%;
				 	color: $white;
				 	padding: 45px 50px;
				 	@include media-breakpoint-down(lg){
						padding: 50px 30px;
				 	}
				 	&:after{
						content: '';
						background: $theme-color;
						@include size(100%, 200px);
						position: absolute;
						top: 100%;
						left: 0; 
						z-index: 1;
				 	}
				 	a{
						color: $white;
						&:hover{
					  		text-decoration: underline;
						}
				 	}
			  	}
			  	.meta-item{
				 	font-weight: 500;
				 	font-size: 16px;
				 	margin-bottom: 15px;
				 	.icon{
						margin-right: 10px;
						display: inline-block;
						position: relative;
						top: -2px;
						svg{
					  		fill: $white;
					  		width: 25px;
					 		height: auto;
						}
				 	}
				 	.tribe-events-address{
						font-size: 14px;
						line-height: 24px;
				 	}
			  	}
			}
		}
  	}
  	.tribe-events-c-subscribe-dropdown{
  		.tribe-common-c-btn-border{
  			white-space: nowrap;
  			width: auto;
  			padding: 15px;
  		}
  	}
}

.post-type-archive-tribe_events{
  	#tribe-events-bar{
	 	background: $white;
	 	border: 1px solid $border-color;
	 	#tribe-bar-form{
			background: $white;
			input[type=text]{
		  		outline: none;
		  		border-bottom: 1px dashed $border-color;
			}
			.tribe-bar-submit{
		  		.tribe-events-button{
			 		background: $black;
		  		}
			}
			.tribe-bar-views{
			  	.tribe-bar-views-inner{
				 	background: $white;
				 	#tribe-bar-views-toggle:focus, #tribe-bar-views-toggle:hover{
						background: $white;
						outline: none;
				 	}
				 	.tribe-bar-views-list{
						background: $white;
						border: 1px solid $border-color;
				 	}
			  	}
			}
	 	}
  	}
  	table.tribe-events-calendar{
	 	border-left: 0!important;
	 	border-right: 0!important;
	 	border-bottom-color: $border-color;
	 	thead{
			th{
			  	background: none;
			  	color: $black;
			  	text-align: left;
			  	border: none;
			  	border-bottom: 1px solid $border-color;
			}
	 	}
	 	tbody{
			border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
			td{
		  		border-color: $border-color!important;
		  		div[id*=tribe-events-daynum-], div[id*=tribe-events-daynum-]>a{
			 		background: none!important;
			 		font-size: 20px;
			 		color: #141827;
			 		font-weight: 500;
			 		padding-top: 10px;
			 		padding-left: 10px;
		  		}
		  		.tribe-events-month-event-title{
			 		font-size: 14px!important;
			 		line-height: 22px!important;
			 		font-weight: 500!important;
		  		}
		  		.tribe-events-tooltip{
			 		padding: 20px;
			 		.entry-title{
						margin-bottom: 15px;
						font-size: 20px;
			 		}
			 		.tribe-events-event-body{
						.tribe-event-duration{
					  		font-size: 14px;
					  		color: $theme-color;
					  		font-weight: 500;
					  		width: 100%;
					  		margin-bottom: 15px;
						}
						.tribe-events-event-thumb{
					  		width: 90px;
					  		margin-right: 1px;
					  		margin-bottom: 1px;
				  			img{
					 			max-width: 100%;
				  			}
						}
						.tribe-event-description{
				  			font-size: 14px;
				  			line-height: 24px;
						}
			 		}
		  		}
		  		&:hover{
			 		background: none!important;
			 		border-bottom: 2px solid $theme-color!important;
		  		}
			}
	 	}
  	}
}

.events-list .tribe-events-loop, .single-tribe_organizer .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .tribe-events-day .tribe-events-loop{
  	max-width: 100%;
} 

#tribe-events, #tribe-events-pg-template, .tribe-events-pg-template{
  	padding: 0;
}

.tribe-events-sub-nav{
	padding: 0;
	li{
		a{
			background: none!important;
			padding: 0!important;
			color: $black;
			font-weight: 600;
		}
	}
}