.header_mobile_screen{
  display: none;
}

@media(max-width: 1024px){
  .header_mobile_screen{
  //  display: block;
  }
  .header_default_screen{
    //display: none;
  }
}

.gv-sticky-menu{
   position: relative;
   transition: all 0.36s!important;
}

.gv-sticky-wrapper{
   position: relative;
   z-index: 1;
   width: 100%;
   &.is-fixed > .gv-sticky-menu{
      position: fixed !important;
      width: 100%;
      z-index: 999;
      left: 0;
      top: 0;
      @include box-shadow(2px 3px 3px rgba(0, 0, 0, 0.1));  
   }
}
.header-builder-frontend.header-position-absolute .header-builder-inner{
   @media(max-width: 1024px){
      position: relative!important;
      .header-absolute-white{
	   	background: $black;
	   	border-top: 1px solid rgba(226, 220, 213, 0.25);
	   }
   }
}
//-- Search 
.gva-search{
  	position: relative;
  	.control-search{
	 	display: inline-block;
	 	text-align: center; 
	 	line-height: 30px; 
	 	.icon{
			font-size: 22px;
	 	}
	 	&:hover, &:focus, &.search-open{
			i{
            color: $theme-color;
         }
	 	}
  	}
  .gva-search-content{
	 	position: absolute;
	 	top: 100%;
	 	right: -35px;
	 	z-index: 1;
	 	background: $white;
	 	z-index: 9;
	 	@include box-shadow(0 6px 18px rgba(0, 0, 0, 0.08));
	 	min-width: 250px;
	 	margin-top: 16px;
	 	border: 1px solid rgba(0, 0, 0, 0.06);
	 	@include opacity(0);
	 	@include transition(all 0.35s);
	 	visibility: hidden;
	 	padding: 15px;
	 	&:after{
			content: '';
			border: 10px solid transparent;
			border-bottom-color: $white;  
			position: absolute;
			bottom: 100%;
			right: 45px;
	 	}
  	}
  	.gva-main-search{
	 	padding-top: 0;
  	}
  	&.open{
	 	.gva-search-content{
			@include opacity(1);
			visibility: visible;
	 	}
  	}
}

//-- Header 
header{
  	@include media-breakpoint-down(md){
	 	padding-top: 0!important;
	 	padding-bottom: 0!important;
  	}
}

.header-mobile{
  	background: #FFF!important;
  	width: 100%;
  	position: relative;
  	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
   padding: 10px 0;
  	.header-mobile-content{
	 	position: relative;
		padding: 10px 15px 10px;
		.header-content-inner{
		 	.header-left{
				width: 50%;
				float: left;
				min-height: 20px;
				.logo-mobile{
					max-width: 145px;
               margin-top: 2px;
					img{
			  			max-width: 100%;
			  		}
				}
		 	}
		 	.header-right{
				width: 50%;
				float: left;
				position: relative;
				display: -webkit-box;
		    	display: -ms-flexbox;
		    	display: flex;
		    	flex-wrap: wrap;
		    	justify-content: center;
		    	justify-content: flex-end;
		    	align-items: center;
            padding-top: 2px;
				.main-search{
					padding-top: 2px;
				  	.control-search{
					 	.icon{
							color: $black;
							font-size: 20px;
							font-weight: 600;
					 	}
				  	}
				}
				.canvas-mobile{
					margin-left: 18px;
				  	.dropdown-toggle{
				  		.icon{
				  			font-size: 22px;
				  			color: $black;
                     border: 1px solid $border-color;
                     padding: 6px 10px;
				  		}
                  &:after{
                     display: none;
                  }
				  	}
				}
			}
		}
  	}
}

.header-mobile-info{
   margin: 30px 20px 20px;
   display: none;
   @media(max-width: 1024px){
      display: block;
   }
}

// Header builder ------------
.header-builder-frontend{ 
  	position: relative;
  	z-index: 999;
  	width: 100%;
  	&.header-position-relative{
	 	.header-builder-inner{
			position: relative;
			width: 100%;
	 	}
  	}
  	&.header-position-absolute{
	 	.header-builder-inner{
			position: absolute;
			width: 100%;
			.gv-sticky-menu.stuck{
			  	background: $black;
			}
	 	}
  	}
  	@include media-breakpoint-down(md){
	 	position: relative;
  	}
}

// Header default ------------
.header-default{ 
  	background: $white;
  	position: relative;
  	z-index: 999;
   box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
  	.header-bottom{
	 	background: $white; 
	 	position: relative;
	 	.header-bottom-inner{ 
			position: relative;
			padding-left: 170px;
			min-height: 80px;
			padding-right: 32px;
			.logo{
		  		position: absolute;
		  		top: 50%;
		  		left: 0;
		  		z-index: 1;
		  		padding: 15px 0;
		  		transform: translateY(-50%);
		  		width: 180px;
            margin-top: 2px;
            img{
               max-width: 145px;
            }
			}
			ul.gva-nav-menu{
			  	float: right;
			  	> li > a{
				 //	padding: 30px 2px;
			  	}
			}
			.gsc-search-box{
			 	position: absolute;
			  	right: 0;
			  	top: 50%;
			  	margin-top: -18px;
			  	z-index: 1;
			  	.control-search{
               svg{
                  width: 20px;
                  fill: $headings-color;
                  opacity: 0.9;
               }
			  		&:hover{
			  			svg{
			  				fill: $theme-color;
			  			}
			  		}
			  	}
			}
	 	}
  	}
   .header_mobile_screen{
      @media(max-width: 1024px){
         display: block;
      }
   }
   .header_default_screen{
      @media(max-width: 1024px){
         display: none;
      }
   }
}

.header-builder{ 
  	min-height: 550px;
  	&.header-bg-black{
	 	padding: 10px 0 30px;
	 	background: url('#{$image-theme-path-base}bg-header-builder.jpg') no-repeat center top transparent;
	 	background-size: cover;
  	}
}