// Portfolio Block I
.portfolio-one{
	&__single{
		position: relative;
		max-width: 680px;
		margin: 0 auto 30px;
	}
	&__image{
		position: relative;
		text-align: center;
		z-index: 1;
		overflow: hidden;
	}
	&__link{
		display: block;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: $black;
         transition: all 0.35s;
         opacity: 0;
		}
		img{
			transition: all 0.35s;
		}
	}

	&__content{
		padding: 30px;
		transition: all 0.3s;
		box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.07);
		border-radius: 0 10px 10px 10px;
		position: relative;
		z-index: 9;
		margin-top: -40px;
		margin-right: 30px;
		background: $white;
		@media(max-width: 1024px){
			padding: 20px 15px;
		}
	}

	&__category{
		font-size: 16px;
		line-height: 18px;
		a{
			color: #7C7C7C;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__title{
		display: block;
		font-size: 18px;
		margin: 5px 0 6px;
		@media(max-width: 1024px){
			font-size: 18px;
		}
		a{
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__arrow{
		width: 70px;
		height: 100%;
		background: $theme-color;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9;
		font-size: 14px;
		transition: all 0.5s;
		border-radius: 0 10px 10px 0;
		clip-path: polygon(20px 0, 100% 0, 100% 100%, 0% 100%);
		padding-left: 15px;
		@media(max-width: 1024px){
			width: 45px;
		}
	}
	&__single{
		&:hover, &:active, &:focus{
			.portfolio-one{
				&__arrow{
					background: $theme-color-2;
				}
				&__link{
					&:after{
						opacity: 0.5;
					}
				}
			}
		}
	}
}

.swiper{
	.item-active.center{
		.portfolio-v1{
			.bg-overlay{
				opacity: 1;
			}
			.images{
				.link-image-content{
					img{
						@include scale(1.1);
					}
				}
			}
			.case-content{
				bottom: 30px;
				opacity: 1;
			}
			.arrow{
				transform: rotate(-45deg) scale(1);
			}
		}
	}
}


// Portfolio Block II
.portfolio-two{
	&__single{
		position: relative;
		overflow: hidden;
		max-width: 680px;
		margin: 0 auto 30px;
		transition: all 0.35s;
	}
	&__images{
		position: relative;
		text-align: center;
	}
	&__link-image{
		img{
			transition: all 0.6s;
		}
	}
	&__bg-overlay{
		content: "";
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: $black;
		@include opacity(0);
		z-index: 1;
		transition: all 0.6s ease;
	}
	&__content{
		position: relative;
		background: $white;
		z-index: 1;
		padding: 25px 25px 25px;
		transition: all 0.3s;
		border: 2px solid $border-color;
		border-top: 0;
	}
	&__content-inner{
		display: flex;
		align-items: center;
	}
	&__content-left{
		width: calc(100% - 50px);
		padding-right: 15px;
	}
	&__meta{
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		position: relative;
		letter-spacing: 1px;
		font-weight: 500;
		margin-bottom: 3px;
		a{
			color: $body-color;
			position: relative;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__title{
		display: block;
		font-size: 20px;
		font-weight: 600;
		margin: 0;
	}
	&__content-right{
		width: 50px;
		height: 50px;
		a{
			display: inline-block;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			background: $bg-gray;
			line-height: 50px;
			text-align: center;
			transition: all 0.35s;
			font-size: 18px;
		}
	}
	&__single{
		&:hover, &:active, &:focus{
			box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
			.portfolio-two{
				&__link-image{
					img{
						@include scale(1.1);
					}
				}
				&__bg-overlay{
					opacity: 0.6;
					top: 0;
				}
				&__content-right{
					a{
						background: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
}

// Portfolio Filter
.portfolio-filter{
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	ul.nav-tabs{
		display: inline-block;
		text-align: center;
		border: none;
		margin: 0 auto;
		max-width: 100%;
		> li{
			padding: 5px 10px 0;
			@media(max-width: 1024px){
				padding: 5px 5px 0;
			}
			> a{
				font-weight: 600;
				color: $body-color;
				@include transition(all 0.35s);
				padding: 0;
				font-size: 16px;
				position: relative;
				z-index: 11;
				&:after{
					content: '';
					@include size(0, 2px);
					background: $theme-color;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: -1px;
					transition: all 0.35s;
				}
				.count{
					border-radius: 50%;
					z-index: 1;
					position: absolute;
					top: -20px;
					right: -17px;
					font-size: 12px;
					color: $body-color;
					opacity: 0;
					transition: all 0.35s;
				}
				&:hover, &.active{
					color: $black;
					&:after{
						width: 100%;
					}
					.count{
						top: -10px;
						opacity: 1;
					}
				}
			}
		}
	}
}

.gva-portfolio-items{
  float: left;
  width: 100%;
}
.gsc-portfolio-carousel{
  &.remove-padding{
	 .init-carousel-owl{
		margin-left: 0!important;
		margin-right: 0!important;
		.owl-item{
		  padding-left: 0!important;
		  padding-right: 0!important;
		}
	 }
  }
}
