.post-one{
	&__single{
		transition: all 0.35s;
		max-width: 500px;
		margin: 0 auto 30px;
	}
	&__thumbnail{
		position: relative;
		text-align: center;
		min-height: 80px;
 		iframe{
 			width: 100%;
 			min-height: 350px;
 		}
 		img{
 			width: 100%;
 		}
 	}
 	&__entry-date{
		position: absolute;
		top: 20px;
		left: 20px;
		background: $white;
		color: $theme-color-2;
		height: 52px;
		width: 55px;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		font-family: $headings-font-family;
		text-transform: uppercase;
		line-height: 1;
		span{
			display: block;
		}
		.date{
			color: $white;
			background: $theme-color;
			padding: 6px 5px;
		}
		.month{
			padding: 5px 5px;
		}
	}
 	&__content{
 		position: relative;
 		z-index: 2;
		&.has-thumbnail{
			margin-top: -90px;
 			padding-left: 20px;
		}
	}
 	&__content-inner{
 		background: $white;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		margin: 0 auto;
		position: relative;
 		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
 		border: 1px solid rgba(0, 0, 0, 0.06);
 		&.has-no-thumbnail{
 			padding-top: 0;
 		}
 	}
	&__title{
		font-size: 20px;
		margin: 0;
		padding: 30px 25px 15px;
		-ms-word-wrap: break-word;
    	word-wrap: break-word;
    	line-height: 28px;
    	position: relative;
	}
	&__desc{
		padding: 0 25px 25px;
	}
	&__cat-links{
		a{
			font-size: 22px;
			font-family: $font-second;
			text-decoration: underline;
			color: $body-color;
		}
	}
	&__meta{
		position: relative;
		.meta-inline{
			font-size: 12px;
			line-height: 18px;
			font-weight: 500;
			text-transform: capitalize;
			display: inline-block;
			background: $theme-color;
			color: $white;
			padding: 10px 20px;
			> span{
				margin-right: 15px;
				@media(max-width: 1400px){
					margin-right: 12px;
				}
				i{
					margin-right: 5px;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	
 	&__single{
 		&:hover{
 			.post-one{
	 			&__bottom{
	 				margin-top: 0;
	 				opacity: 1;
					margin-top: -15px;
	 			}
	 		}
 		}
 	}
}

// Post Two
.post-two{
	&__single{
		padding: 20px;
		background: $white;
		margin: 0 0 30px;
	}
	&__content{
		&.has-thumbnail{
			.post-two__meta{
				margin-top: -38px;
			}
		}
	}
	&__meta{
		margin-top: 20px;
		position: relative;
		.meta-inline{
			font-size: 12px;
			line-height: 18px;
			font-weight: 500;
			text-transform: capitalize;
			display: inline-block;
			background: $theme-color;
			color: $white;
			padding: 10px 20px;
			> span{
				margin-right: 15px;
				@media(max-width: 1400px){
					margin-right: 12px;
				}
				i{
					margin-right: 5px;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}	
	&__title{
    	font-size: 22px;
		line-height: 32px;
		margin: 25px 0 10px;
	}
	&__desc{
		margin-bottom: 25px;
	}
	&__thumbnail{
		position: relative;
		img{
		   height: 100%;
		   width: 100%;
		   object-fit: cover;
		}
	}
	&__entry-date{
		position: absolute;
		top: 0px;
		left: 0px;
		background: $white;
		color: $theme-color-2;
		height: 55px;
		width: 55px;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		font-family: $headings-font-family;
		text-transform: uppercase;
		line-height: 1;
		span{
			display: block;
		}
		.date{
			color: $white;
			background: $theme-color;
			padding: 7px 5px;
		}
		.month{
			padding: 7px 5px;
		}
	}
	&__read-more{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #F3F0EC;
		color: $theme-color; 
		font-size: 18px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
		&:hover, &:focus{
			background: $theme-color;
			color: $white;
		}
	}
	&__single{
		&:hover{
			.post-two__read-more{
				background: $theme-color;
				color: $white;
			}
		}
	}
}

//Post Three
.post-three{
	&__single{
		margin-bottom: 30px;
		box-shadow: none;
		position: relative;
		overflow: hidden; 
	}
	&__link-overlay{
		@include size(100%, 100%);
		position: absolute;
		top: 0;
		left: 0; 
		z-index: 11;
	}
	&__thumbnail{
		position: absolute!important;
		top: 0;
		left: 0;
		@include size(100%, 100%);
		background-size: cover; 
		background-position: center center;
		transition: all 0.35s;
		transform: scale(1);
	}
	&__wrap{
		position: relative;
		&:before{
			content: '';
			background: linear-gradient(180deg, rgba(30, 36, 54, 0.00) 0%, #1E2436 100%);
			@include size(100%, 100%);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transition: all 0.35s;
		}
	}
	&__content{
		padding: 30px;
		height: 400px;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
      justify-content: space-between;
 	}
 	&__entry-date{
		background: $white;
		color: $theme-color-2;
		height: 52px;
		width: 55px;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		font-family: $headings-font-family;
		text-transform: uppercase;
		line-height: 1;
		span{
			display: block;
		}
		.date{
			color: $white;
			background: $theme-color;
			padding: 6px 5px;
		}
		.month{
			padding: 5px 5px;
		}
	}
	&__meta{
		position: relative;
		.meta-inline{
			font-size: 12px;
			line-height: 18px;
			font-weight: 500;
			text-transform: capitalize;
			display: inline-block;
			background: $theme-color;
			color: $white;
			padding: 10px 20px;
			> span{
				margin-right: 15px;
				@media(max-width: 1400px){
					margin-right: 12px;
				}
				i{
					margin-right: 5px;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}	
	&__title{
    	font-size: 20px;
		line-height: 32px;
		margin-top: 15px;
		margin-bottom: 0;
		color: $white;
		a{
			color: $white;
			&:hover{
				color: $theme-color;
			}
		}
	}
	&__single{
		&:hover{
			.post-three{
				&__thumbnail{
					transform: scale(1.1);
				}
				&__content{
					color: $white;
				}
				&__meta{
					.left{
						border-color: $theme-color;
					}
					.right{
						color: $white;
						i{
							color: $white;
						}
					}
				}
				&__title{
					a{
						color: $white;
					}
				}
				&__read-more{
					a{
						color: $white;
						animation: beat 1.5s ease 0s infinite;
					}
				}
			}
		}
	}
}

.post-four{
	&__single{
		margin-bottom: 30px;
		transition: all 0.35s;
	}
	&__thumbnail{
		position: relative;
		text-align: center;
 		iframe{
 			width: 100%;
 			min-height: 350px;
 		}
		.entry-date{
			background: $theme-color;
			color: $white;
			height: 70px;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 11;
			text-align: center;
			padding: 15px 15px 0;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 600;
			line-height: 1.1;
			span{
				display: block;
			}
			.date{
				font-size: 20px;
			}
			.month{
				font-size: 12px;
			}
		}
 	}

 	&__content{
 		position: relative;
 		text-align: left;
 		background: $white;
 		border: 1px solid rgba(0, 0, 0, 0.05);
		box-shadow: 0px 10px 20px 0px rgba(76, 76, 76, 0.08);
	}
 	&__content-inner{
 		padding: 40px 30px 35px;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		margin: 0 auto;
		position: relative;
 		@media(max-width: 1024px){
	 		padding: 20px;
	 	}
 		&.has-no-thumbnail{
 			padding-top: 0;
 		}
 	}
	&__title{
		font-size: 22px;
		margin: 10px 0 20px;
		-ms-word-wrap: break-word;
    	word-wrap: break-word;
    	line-height: 34px;
    	position: relative;
	}
	&__desc{
		-ms-word-wrap: break-word;
    	word-wrap: break-word;
    	padding-bottom: 15px;
    	font-size: 16px;
    	line-height: 28px;
	}
	&__cat-links{
		a{
			font-size: 22px;
			font-family: $font-second;
			text-decoration: underline;
			color: $body-color;
		}
	}
	&__meta{
		position: relative;
		margin-bottom: 15px;
		.meta-inline{
			font-size: 14px;
			line-height: 18px;
			font-weight: 500;
			text-transform: capitalize;
			> span{
				margin-right: 18px;
				@media(max-width: 1400px){
					margin-right: 15px;
				}
				i{
					margin-right: 5px;
					color: $theme-color;
				}
				&:last-child(){
					margin-right: 0;
				}
			}
		}
	}
 	&__read-more{
		white-space: nowrap;
		font-size: 12px;
		font-weight: 600;
		transition: all 0.35s;
		text-transform: uppercase;
		letter-spacing: 2px;
 		i{
 			color: $theme-color;
 			margin-right: 6px;
 			position: relative;
 			font-size: 11px;
 			top: -1px;
 		}
 	}
 	&__tag-links{
 		margin-top: 20px;
 		display: block;
 		> a{
 			border: 1px solid $border-color;
 			padding: 2px 15px;
 			font-weight: 500;
 			font-size: 14px;
 			margin-right: 8px;
 			margin-bottom: 8px;
 			display: inline-block;
 			background: $white;
 			&:hover{
 				background: $theme-color;
 				color: $white;
 			}
 		}
 	}
}

//Post Five
.post-five{
	&__single{
		margin: 0 0 10px;
		padding: 20px;
		background: $white;
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
		@media(max-width: 1024px){
			padding: 10px 10px 20px;
		}
	}
	&__thumbnail{
	}
	&__content{
		padding: 30px 10px 10px;
	}
	&__meta{
		position: relative;
		margin-bottom: 15px;
		.meta-inline{
			font-size: 14px;
			line-height: 18px;
			font-weight: 500;
			text-transform: capitalize;
			> span{
				margin-right: 18px;
				@media(max-width: 1400px){
					margin-right: 15px;
				}
				i{
					margin-right: 5px;
					color: $theme-color;
				}
				&:last-child(){
					margin-right: 0;
				}
			}
		}
	}
	&__title{
		font-size: 24px;
		margin: 0;
		@media(max-width: 1024px){
			font-size: 22px;
		}
	}
}

//Post Five
.post-six{
	&__single{
		margin: 0 0 5px;
		padding: 35px 40px 35px;
		background: $white;
		@media(max-width: 1024px){
			padding: 20px 15px 20px;
		}
	}
	&__content{
	}
	&__meta{
		position: relative;
		margin-bottom: 15px;
		.meta-inline{
			font-size: 14px;
			line-height: 18px;
			font-weight: 500;
			text-transform: capitalize;
			> span{
				margin-right: 18px;
				@media(max-width: 1400px){
					margin-right: 15px;
				}
				i{
					margin-right: 5px;
					color: $theme-color;
				}
				&:last-child(){
					margin-right: 0;
				}
			}
		}
	}
	&__title{
		font-size: 20px;
		margin: 0;
	}
}

.post-block-small{
	@include clearfix();
	margin-bottom: 30px;
	box-shadow: none!important;
	.post-content{
		.post-thumbnail{
			width: 80px;
			float: left;
		}
		.content-inner{
			padding-left: 95px;
			.entry-meta{
				margin: -3px 0 0;
				float: left;
				width: 100%;
				padding-bottom: 5px;
				> .meta-inline{
					margin-right: 5px;
					font-size: 14px;
					font-weight: 500;
					line-height: 18px;
					text-transform: capitalize;
					color: $theme-color;
					letter-spacing: -0.28px;
					> span{
						margin-right: 18px;
						@media(max-width: 1400px){
							margin-right: 16px;
						}
						i{
							color: $theme-color;
							margin-right: 5px;
						}
					}
				}
				.cat-links, .author, .author-seperate{
					display: none!important;
				}
			}
			.entry-title{
				margin: 0;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -0.32px;
				line-height: 24px;
				position: relative;
				float: left;
				width: 100%;
			}
		}
	}
}

.post-standard{
	&__single{
		margin-bottom: 30px;
	}
	&__thumbnail{
		border-radius: 0!important;
	}
	&__content{
		background: $white;
		margin-left: 35px;
		margin-right: 35px;
		margin-top: -50px;
		border: none;
		border-radius: 0;
		padding: 30px 35px;
		position: relative;
		z-index: 11;
		@media(max-width: 1024px){
			margin-left: 20px;
			margin-right: 20px;
			padding: 30px 20px;
		}
		&:after{
			display: none;
		}
	}
	&__content-inner{

	}
	&__meta{
		.meta-inline > span{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
		}
		i{
			color: $theme-color;
			margin-right: 10px;
		}
	}
	&__title{
		font-size: 24px;
		margin-bottom: 10px;
		margin-top: 8px;
	}
	&__desc{
		padding-bottom: 20px;
	}
	&__read-more{
		border: none;
		padding-top: 0;
	}
	&__single{
		&:hover{
			box-shadow: none;
			.post-standard__content{
				box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
			}
		}
	}
}

div[class*="col-md-6"], div[class*="col-md-4"]{
	.post-thumbnail{
 		iframe{
 			min-height: 235px;
 			height: 235px;
 		}	
 	}
}

.posts-archive{
	margin: 100px 0 60px;
	@include media-breakpoint-down(lg){
		margin: 80px 0 40px;
	}
}

.post-masonry-style > .item-masory{
	margin-left: -1px;
}

//Single Post
.post.post-single-content{
	box-shadow: none;
	margin-bottom: 10px;
	.post-thumbnail{
		position: relative;
		margin-bottom: 30px;
		&.without_image{
			margin-bottom: 0;
		}
	}
	.entry-content{
		border: 0;
		background: none;
		margin: 0;
		box-shadow: none!important;
		text-align: left;
		&:after{
			content: none;
		}
		.content-inner{
			max-width: 100%;
			padding: 0;
		}
		.entry-meta{
			position: relative;
			margin: 0 0 10px;
			.meta-inline{
				font-size: 15px;
				text-transform: capitalize;
				> span{
					margin-right: 22px;
					@media(max-width: 1400px){
						margin-right: 18px;
					}
					&:last-child{
						margin-right: 0;
					}
					i{
						color: $theme-color;
						margin-right: 5px;
					}
				}
				.entry-date{
					color: $theme-color;
				}
			}
		}
	 	.entry-title{
			font-size: 32px;
			color: $black;
	 		padding: 0 0 10px;
			position: relative;
			-ms-word-wrap: break-word;
 			word-wrap: break-word;
			@include media-breakpoint-down(lg){
				font-size: 28px;
			}
			@include media-breakpoint-down(md){
				font-size: 26px;
			}
			
			&:after{
				display: none!important;
			}
		}
		.entry-date{
			left: 0;
		}
		
		.cat-links{
			i{
				margin-right: 6px;
				color: $theme-color;
			}
			a{
				color: $body-color;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.post-content{
			strong img{
				margin-right: 10px;
			}
			.wp-caption{
				max-width: 100%;
			}
			input[type="text"], 
			input[type="tel"],
			input[type="password"],
			input[type="email"]{
				padding: 0 8px;
			}
			input[type="submit"]{
				background: $theme-color;
				color: $white;
				text-transform: uppercase;
				font-size: 12px;
				@include transition(all 0.35s);
				border: none;
				@include box-shadow(none);
				padding: 3px 15px;
				&:hover{
					background: $black;
				}
			}
		}
	}
	.entry-meta-footer{
		border-top: 1px solid $border-color;
		margin-top: 36px;
		padding-top: 12px;
	}
	.tag-links{
 		margin-top: 20px;
 		display: block;
 		.tag-title{
 			font-size: 18px;
 			margin-right: 10px;
 			color: $black;
 			font-weight: 500;
 			position: relative;
 			top: 2px;
 		}
 		> a{
 			background: $bg-gray;
    		text-transform: uppercase;
    		letter-spacing: 1px;
    		font-size: 12px;
    		padding: 0 15px;
    		line-height: 28px;
    		color: $black;
    		margin: 3px 10px 3px 0;
    		font-weight: 600;
    		display: inline-block;
    		white-space: nowrap;
    		transition: all 0.35s;
 			&:hover{
 				background: $theme-color;
 				color: $white;
 				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 			}
 		}
 	}
	&.has-post-thumbnail{
		.entry-content{
			.entry-date{
				left: 30px;
			}
		}
	}
}

.post-navigation{
	width: 100%;
	float: left;
	margin-top: 30px;
	padding-top: 40px;
	margin-bottom: 30px;
	border-top: 1px solid $border-color;
	a{
		display: inline-block;
		font-weight: 600;
		border: 2px solid $border-color;
		padding: 10px 20px;
		@include transition(all 0.35s);
		span{
			@include transition(all 0.35s);
		}
		&:hover{
			background: $theme-color;
			color: $white;
			span{
				color: $white!important;
			}
		}
		&[rel *= "next"]{
			float: right;
			text-align: right;
		}
		span{
			display: block;
			&.meta-nav{
				font-size: 14px;
				color: #888888;
				i{
					font-size: 10px;
				}
				&.next i{
					margin-left: 8px;
					margin-top: 1px;
				}
				&.prev i{
					margin-right: 8px;
					margin-top: 1px;
				}
			}
		}
	}
}

