.milestone-one{
	&__single{
		position: relative;
	}
	&__content{
		padding: 5px 20px 15px;
	}
	&__icon{
		color: $theme-color;
		font-size: 62px;
	}
	&__number{
		font-size: 48px;
		line-height: 1; 
		font-weight: 600;
		color: $theme-color-2;
		letter-spacing: -1.44px; 
		display: flex;
		align-items: flex-end;
		margin-bottom: 5px;
		.symbol{
			font-size: 45px;
			line-height: 1;
			letter-spacing: -1.35px; 
			margin-bottom: 10px;
		}
	}
	&__title{
		font-size: 16px;
		font-weight: 600;
		margin-top: 0;
		transition: all 0.5s;
		line-height: 22px;
		letter-spacing: -0.48px; 
		text-transform: capitalize; 
		color: $theme-color-2;
	}
	&__link{
		position: absolute;
		@include size(100%, 100%);
		top: 0;
		left: 0;
		z-index: 11;
	}
	&__single{
		&:hover{
			.milestone-one__icon{
				.icon{
					svg, i{
						animation: beat 1.5s ease 0s infinite;
					}
				}
			}
		}
	}
}

// Style 02
.milestone-two{
	&__single{
		position: relative;
	}
	&__icon{
		color: $theme-color;
		i{
			font-size: 62px;
		}
		svg{
			width: 62px;
		}
	}
	&__content{
		min-width: 82px;
		min-height: 82px;
	}
	&__number{
		width: 82px;
		height: 82px;
		border-radius: 50%;
		font-size: 24px;
		font-weight: 600;
		color: $headings-color;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $theme-color;
			border-radius: 50%;
			z-index: 1;
		}
		.milestone-number, .symbol{
			position: relative;
			z-index: 2;
		}
	}
	&__title{
		color: $body-color;
		position: relative;
		display: inline-block;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		transition: all 0.5s;
		line-height: 18px;
		letter-spacing: 0.1em;
	}
	&__link{
		position: absolute;
		@include size(100%, 100%);
		top: 0;
		left: 0;
		z-index: 11;
	}
	&__single{
		&:hover{
			.milestone-two__icon{
				svg, i{
					animation: beat 1.5s ease 0s infinite;
				}
			}
		}
	}
}

// Style 03
.milestone-three{
	&__single{
		position: relative;
		text-align: center;
	}
	&__icon{
		font-size: 50px;
		svg{
			width: 50px;
		}
	}
	&__number{
		margin-top: 20px;
		font-size: 65px;
		line-height: 1;
		font-weight: 600;
		color: $headings-color;
		display: inline-flex;
		width: 100%;
      justify-content: center;
		@media(max-width: 1024px){
			font-size: 36px;
		}
	}
	&__title{
		color: $body-color;
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		transition: all 0.5s;
		line-height: 18px;
		margin-top: 10px;
		margin-bottom: 0;
		width: 100%;
	}
	&__link{
		position: absolute;
		@include size(100%, 100%);
		top: 0;
		left: 0;
		z-index: 11;
	}
	&__single{
		&:hover{
			.milestone-three__icon{
				svg, i{
					animation: beat 1.5s ease 0s infinite;
				}
			}
		}
	}
}