.feature-one{
   &__single{
      background: $white;
      text-align: center;
      transition: all 0.5s;
      position: relative;
      overflow: hidden;
      max-width: 480px;
      margin: 0 auto 30px;
      .background-overlay{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 2;
         opacity: 0.5; 
         transition: all 0.35s;
      }
   }
   &__image{
      transition: 0.5s;
      position: relative;
      img{
         height: 100%!important;
         width: 100%!important;
         -o-object-fit: cover;
         object-fit: cover;
         position: relative;
         z-index: 1;
      }
      .feature-one__title{
         position: absolute;
         bottom: 30px;
         left: 50%;
         transform: translateX(-50%);
         z-index: 3;
         margin: 0; 
         width: 100%;  
         transition: opacity 0.5s, margin 0.8s;     
      }
   }
   &__content{
      position: absolute;
      z-index: 3;
      opacity: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      transform: translateY(50%);
      transition: all 0.8s;
      color: $white;
      padding: 30px;
   }
   &__icon{
      font-size: 32px;
      color: $theme-color;
   }
   &__title{
      font-size: 20px;
      letter-spacing: -0.6px; 
      span{
         color: $theme-color;
         background: url(#{$image-theme-path-base}bg-feature.svg) no-repeat center center;
         background-size: contain;
         padding: 10px 20px;
         display: inline-block;
         border-radius: 30px;
      }
   }
   &__desc{
      font-size: 16px;
      font-weight: 500;
      line-height: 26px; 
   }
   &__action{
      margin-top: 30px;
   }
   &__link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
   }
   &__single{
      &:hover, &:focus, &.active{
         .background-overlay{
            opacity: 0.7;
         }
         .feature-one{
            &__image{
               .feature-one__title{
                  opacity: 0;
                  margin-bottom: -100px;
               }
            }
            &__content{
               opacity: 1;
               transform: translateY(0);
            }
         }
      }
   }
}

.feature-two{
   &__single{
      position: relative;
      max-width: 360px;
      margin: 0 auto 30px;
   }
   &__content{
      text-align: center;
      position: relative;
      font-size: 15px;
      max-width: 206px;
      margin: 25px auto 0;
   }
   &__icon{
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: $white;
      border: 1px solid $border-color;
      box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      z-index: 11;
      @media(max-width: 992px){
         width: 120px;
         height: 120px;
      }
      &:after{
         content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         background: $theme-color;
         z-index: -1;
         border-radius: 50%;
         transform: scale(1.2);
         opacity: 0;
         transition: 0.5s;
      }
      i{
         color: $theme-color;
         font-size: 62px;
         @media(max-width: 992px){
            font-size: 52px;
         }
      }
      svg{
         fill: $theme-color;
         width: 62px;
         height: auto;
         @media(max-width: 992px){
            width: 52px;
         }
      }
   }
   &__number{
      width: 40px;
      height: 40px;
      background: $theme-color-2;
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      z-index: 19;
      font-size: 14px;
      line-height: 40px;
      font-weight: 400;
      transition: all 0.35s;
      &.number-bottom{
         bottom: 0;
         right: 0;
         left: auto;
         top: auto;
      }
   }
   &__title{
      font-size: 20px; 
      margin: 0 0 16px;
      @media(max-width: 992px){
         font-size: 18px;
      }
   }
   &__single{
      &:hover, &:focus, &.active{
         .feature-two{
            &__icon{
               i{
                  color: $white;
               }
               svg{
                  fill: $white;
               }
               &:after{
                  opacity: 1;
                  transform: scale(1);
               }
            }
            &__number{
               background: $black;
            }
         }
      }
   }
}


.feature-three{
   &__single{
      position: relative;
      max-width: 360px;
      margin: 0 auto 30px;
   }
   &__content{
      text-align: center;
      position: relative;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
      padding: 26px 20px 30px;
      margin-top: 30px;
      background: $white;
      &:after{
         content: '';
         border: 15px solid transparent;
         border-bottom-color: $white;
         position: absolute;
         bottom: 100%;
         left: 50%;
         margin-left: -15px;
         z-index: 1;
      } 
   }
   &__icon{
      width: 108px;
      height: 108px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: $theme-color;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      z-index: 11;
      &:after{
         content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         background: $theme-color;
         z-index: -1;
         border-radius: 50%;
         transform: scale(1.2);
         opacity: 0;
         transition: 0.5s;
      }
      i{
         color: $white;
         font-size: 58px;
      }
      svg{
         fill: $white;
         width: 58px;
         height: auto;
      }
   }
   &__number{
      width: 50px;
      height: 50px;
      border: 4px solid $theme-color;
      background: $white;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      margin-right: -8px;
      right: 100%;
      border-radius: 50%;
      z-index: 19;
      font-size: 16px;
      line-height: 44px;
      font-weight: 600;
      color: $headings-color;
   }
   &__title{
      font-size: 20px; 
      margin: 0 0 10px;
   }
   &__single{
      &:hover{
         .feature-three{
            &__icon{
               &:after{
                  opacity: 1;
                  transform: scale(1);
               }
            }
         }
      }
   }
}