.gallery-one{
	&__single{
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
	}
	&__photo{
		@include size(100%, 100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 111;
		cursor: crosshair;
	}
	&__content{
		position: absolute;
		@include size(100%, 100%);
		top: 0;
		left: 0;
		z-index: 1; 
		opacity: 0;
		transition: all 0.35s;
		&:after{
			content: '';
			@include size(100%, 100%);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 11;
			background: $theme-color-2;
			opacity: 0.8;  
		}
	}
	&__content-inner{
		position: relative;
		z-index: 99;
		text-align: center;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		padding: 0 15px;
	}
	&__title{
		margin: 0 0 2px;
		font-size: 20px;
		color: $white;
		font-weight: 600;
	}
	&__sub-title{
		font-size: 12px;
		color: rgba(255, 255, 255, 0.9);
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	&__single{
		&:hover{
			.gallery-one{
				&__content{
					opacity: 1;
				}
			}
		}
	}
}

.item-active.center{
	.gallery-one{
		&__content{
			opacity: 1;
		}
	}
}

.gva-gallery-carousel{
	&.swiper-slider-wrapper{
		.swiper-nav-next{
			right: -10px!important;
		}
		.swiper-nav-prev{
			left: -10px!important;
		}
	}
} 

.gallery-two{
	&__single{
		overflow: hidden;
	}
	&__photo{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 11;
		font-size: 24px;
		background: rgba(0, 0, 0, 0.8);
		opacity: 0;
		transform: all 0.35s;
	}
	&__single{
		position: relative;
		&:hover{
			.gallery-two__photo{
				opacity: 1;
			}
		}
	}
}