.gsc-icon-box-styles{
	&.style-1{
		position: relative;
		@include clearfix();
		text-align: left;
		margin-bottom: 30px;
		.icon-box-content{
			background: $theme-color;
			padding: 40px 35px 35px;
			@media(max-width: 1024px){
				padding: 30px 15px 25px;
			}
			.icon-inner{
				text-align: right;
				margin-bottom: 40px;
				@media(max-width: 1024px){
					margin-bottom: 25px;
				}
				i{
					color: $white;
					font-size: 72px;
				}
				svg{
					fill: $white;
					width: 72px;
					height: auto;
				}
			}
			&:hover, &.active{
				.icon-inner{
					svg, i{ 
						animation: beat 1.5s ease 0s infinite;
					}
				}
			}
		}

		.box-content{
			.title{
				color: $white;
				font-size: 20px;
				line-height: 30px;
				margin: 0 0 10px;
				display: block;
				transition: all 0.35s;
				@include media-breakpoint-down(lg){
					font-size: 18px;
				}
			}
			.desc{
				font-weight: 600;
				line-height: 22px;
				font-size: 14px;
				color: rgba(255, 255, 255, 0.8);
				letter-spacing: 1px;
			}
		}
		.link-overlay{
			@include size(100%, 100%);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		} 
		&:hover, &.active{
			.icon-inner{
				svg, i{ 
					animation: beat 1.5s ease 0s infinite;
				}
			}
		}
	}
	
	&.style-2{
		.icon-box-content{
			display: flex;
			.icon-inner{
				.box-icon{
					width: 90px;
					height: 90px;
					background: $bg-gray;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 30px 0 0;
					@media(max-width: 1024px){
						margin: 0 20px 0 0;
					}
					i{
						font-size: 46px;
						color: $theme-color;
					}
					svg{
						width: 46px;
						fill: $theme-color;
					}
					img{
						max-width: 46px;
					}
				}
			}
			.box-content{
				.title{
					font-size: 20px;
					margin: 0 0 8px;
					font-weight: 600;
				}
			}
		}
	}
}

.box-style-three{
	&__single{

	}
	&__icon-wrap{
		display: flex;
		align-items: end;
	}
	&__icon{
		width: 120px;
		flex: 0 0 120px;
		height: 95px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $theme-color;
		@media(max-width: 1024px){
			width: 90px;
			flex: 0 0 90px;
		}
		i{
			font-size: 64px;
			color: $white;
			@media(max-width: 1024px){
				font-size: 46px;
			}
		}
		svg{
			width: 64px;
			fill: $white;
			@media(max-width: 1024px){
				width: 46px;
			}
		}
	}
	&__title{
		font-size: 20px;
		margin: 0 0 0 20px;
		@media(max-width: 1024px){
			font-size: 18px;
		}
	}
	&__desc{
		font-size: 15px;
		line-height: 24px;
		margin-top: 20px;
		padding-left: 30px;
		@media(max-width: 1024px){
			padding-left: 15px;
		}
	}
}