.about-one{
  	&__single{
	 	position: relative;
	}
	&__box-content{
		display: flex;
		align-items: center;
	}
 	&__image{
 		margin-right: 15px;
 	} 	
 	&__content-inner{
 		
 	}
	&__title{
		font-size: 14px;
		font-weight: 600;
		margin: 0;
		line-height: 23px;
		letter-spacing: -0.5px;
	}
	&__desc{
		
	}
	&__action{
		a{
			color: $theme-color;
			font-size: 14px;
			&:before{
				content: "\f1d8";
			}
		}
	}
}

.about-two{
	&__single{
	 	position: relative;
	 	max-width: 580px;
	 	margin: 0 auto;
	 }
	 &__image{
		position: relative;
		z-index: 2;
		padding-top: 45px;
		padding-bottom: 30px;
	}
	&__shape{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&__shape-2{
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
 	}
 	&__box-content{
 		position: absolute;
 		bottom: 0;
 		left: 0;
 		z-index: 11;
 		background: $theme-color-2;
 		max-width: 100%;
 	}
 	&__box-content-inner{
 		display: flex;
 		padding: 20px 30px;
 		align-items: center;
 		justify-content: center;
 		@media(max-width: 1200px){
 			padding: 20px;
 		}
 		@media(max-width: 520px){
 			flex-wrap: wrap;
 		}
 	}
 	&__title{
 		font-size: 50px;
 		color: $white;
 		margin-right: 10px;
 		font-weight: 600;
 		@media(max-width: 1200px){
 			font-size: 40px;
 		}
 		@media(max-width: 1024px){
 			margin-bottom: 10px;
 		}
 	}
 	&__desc{
 		line-height: 22px;
 		font-size: 18px;
 		color: $white;
 		@media(max-width: 1200px){
 			font-size: 16px;
 			line-height: 18px;
 		}
 	}
}

.about-three{
	&__single{
	 	position: relative;
	 	max-width: 560px;
	 	margin: 0 auto 30px;
	 	padding-right: 25px;
	 	@media(max-width: 1500px){
	 		padding-left: 45px;
	 	}
	 	@media(max-width: 1024px){
	 		padding-right: 10px;
	 	}
	}
	&__image{
		position: relative;
		z-index: 11;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			background-image: linear-gradient( 180deg, $theme-color 0%, $theme-color-2 100%);
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate(5deg);
			z-index: -1;
			transition: all 0.35s;
			@media(max-width: 1500px){
				transform: rotate(2deg);
			}
		}
		.content-inner{
			overflow: hidden;
			position: relative;
			img{
		  		transition: all 5s;
		  		width: 100%;
		  		position: absolute;
			   height: 100%;
			   width: 100%;
			   -o-object-fit: cover;
			   object-fit: cover;
			   transform: translate(-50%,-50%);
			   top: 50%;
			   left: 50%;
			} 
		}
	}
	&__image-second{
		position: absolute;
		left: -150px;
		bottom: 120px;
		z-index: 99;
		max-width: 62%;
		@media(max-width: 1500px){
			left: 0;
		}
		.content-inner{
		  	overflow: hidden;
		  	img{
		  		width: 100%;
			 	transition: all 5s;
		  	}
		}
 	}
 	&__line{
 		position: absolute;
 		top: 60px;
 		left: -60px;
 		bottom: 60px;
 		right: 150px;
 		border: 2px solid $theme-color-2;
 		z-index: 22;
 		@media(max-width: 1500px){
 			left: 20px;
 			right: 45px;
 		}
 	}
 	&__single{
 		&:hover{
 			.about-three{
 				&__image{
 					&:after{
 						transform: rotate(2deg);
 					}
 				}
 			}
 		}
 	}
}

.about-four{
	&__single{
	 	position: relative;
	 	max-width: 580px;
	 	margin: 0 auto 30px;
	 }
	 &__wrap{
	 	display: flex;
	 }
	 &__left{
	 	flex: 0 0 45%;
	 	width: 45%;
	 	padding-right: 15px;
	 }
	 &__right{
	 	padding-left: 15px;
	 }
	 &__image{
		position: relative;
		z-index: 11;
		.content-inner{
			overflow: hidden;
		  	display: inline-block;
			img{
		  		transition: all 5s;
			}
		}
		&:hover{
		  	img{
			 	@include scale(1.1);
		  	}
		}
	}
	&__image-second{
		.content-inner{
		  	overflow: hidden;
		  	display: inline-block;
		  	position: relative;
		  	&:after{
		  		content: '';
		  		height: 10px;
		  		width: 100%;
  				background: $theme-color;
  				position: absolute;
  				bottom: 0;
  				left: 0;
  				z-index: 1;
		  	}
		  	img{
			 	transition: all 5s;
		  	}
		}
	 	&:hover{
		  	img{
			 	@include scale(1.1);
		  	}
		}
 	}
 	&__box-content{
 		width: 100%;
 		position: relative;
 		&:after{
 			content: '';
 			background: url('#{$image-theme-path-base}shape-map.png') no-repeat top left transparent;
 			width: 150%;
 			position: absolute;
 			top: 0;
 			bottom: -35px;
 			left: -35px;
 			z-index: 1;
 		}
 	}
 	&__box-content-inner{
 		padding: 25px 0 0;
 		text-align: center;
 		@media(max-width: 1024px){
 			padding: 10px 0 0;
 		}
 	}
 	&__title{
 		font-size: 80px;
 		color: $theme-color;
 		margin-right: 10px;
 		font-weight: 600;
 		line-height: 1;
 		display: flex;
 		align-items: start;
 		justify-content: center;
 		@media(max-width: 1024px){
 			font-size: 60px;
 			line-height: 60px;
 		}
 		span{
 			color: $theme-color-2;
 			font-size: 45px;
 			font-weight: 600;
 		}
 	}
 	&__desc{
 		line-height: 26px;
 		font-weight: 600;
 		font-size: 16px;
 		color: $headings-color;
 		margin-top: 8px;
 	}
}

// About Five
.about-five{
	&__content{
		display: flex;
		align-items: center;
	}
	&__image{
		flex: 0 0 68px;
		width: 68px;
		height: 68px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 15px;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
         background: $theme-color;
         border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
         z-index: -1;
		}
	}
	&__image-inner{
		position: absolute;
    	left: 4px;
		top: 4px;
		right: 4px;
		bottom: 4px;
		z-index: 11;
		border-radius: 50%;
		overflow: hidden;
		border: 6px solid $white;
    	img{
    		position: absolute;
	    	height: 100%;
	    	width: 100%;
	    	object-fit: cover;
	    	transform: translate(-50%,-50%);
	    	top: 50%;
	    	left: 50%;
		}
	}
	&__title{
		font-size: 18px;
		margin: 0;
	}
	&__desc{
		font-size: 14px;
	} 
}

// About Six
.about-six{
	&__content{
		position: relative;
		max-width: 100%;
	}
	&__image{
		position: absolute;
    	left: 0;
    	top: 0;
    	width: 100%;
    	height: 100%;
    	border-radius: 50%;
    	max-width: 100%;
    	&:after{
    		content: '';
    		width: 100%;
    		height: 100%;
    		position: absolute;
  			top: 0;
  			right: -10px;
  			background: $theme-color;
  			z-index: -1;
  			border-radius: 50%;
    	}
    	img{
    		position: absolute;
		   height: 100%;
		   width: 100%;
		   object-fit: cover;
		   transform: translate(-50%,-50%);
		   top: 50%;
		   left: 50%;
		   border-radius: 50%;
    	}
	}
	&__link{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 11;
	}
}

// About Seven
.about-seven{
	&__content{
		position: relative;
		padding-bottom: calc(100% - 36px);
		width: 100%;
		padding-left: 36px;
		margin: 0 auto 30px;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
         background: $theme-color;
         border-radius: 0 50% 50% 50%;
			position: absolute;
			top: 0;
			left: 0;
         z-index: -1;
		}
	}
	&__image{
		border-radius: 0 50% 50% 50%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 36px;
		right: 0;
		height: 100%;
		img{
			position: absolute;
		   height: 100%;
		   width: 100%;
		   -o-object-fit: cover;
		   object-fit: cover;
		   transform: translate(-50%, -50%);
		   top: 50%;
		   left: 50%;
		}
	}
	&__logo{
		width: 90px;
		height: 90px;
		background: $white;
		position: absolute;
		top: -30px;
		left: 0;
		z-index: 11;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: animation_top_bottom 2.5s linear 0s infinite;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	}
}