.business-heading__one{
   text-align: center;
   position: relative;
   overflow: hidden;
   span{
      position: relative;
      font-size: 14px;
      color: $white;
      font-weight: 400;
      padding: 0 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      @media(max-width: 1024px){
         letter-spacing: 1px;
      }
      &:after, &:before{
         content: '';
         width: 1000px;
         height: 2px;
         position: absolute;
         top: 50%;
         background: rgba(255, 255, 255, 0.3);
      }
      &:after{
         right: 100%;
      }
      &:before{
         left: 100%;
      }
   }
}
.business-heading__two{
   text-align: center;
   position: relative;
   overflow: hidden;
   span{
      position: relative;
      font-size: 14px;
      color: $black;
      font-weight: 400;
      padding: 0 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      @media(max-width: 1024px){
         letter-spacing: 1px;
      }
      &:after, &:before{
         content: '';
         width: 1000px;
         height: 1px;
         position: absolute;
         top: 50%;
         background: rgba(0, 0, 0, 0.3);
      }
      &:after{
         right: 100%;
      }
      &:before{
         left: 100%;
      }
   }
}
.results-one{
   &__single{
      position: relative;
      width: 265px;
      height: 118px;
      @media(max-width: 1550px){
         width: 200px;
         height: 55px;
         margin-top: -10px;
      }
      &:after{
         content: '';
         background: url('#{$image-theme-path-base}arrow-4.png') no-repeat center center transparent;
         background-size: 100%;
         width: 194px;
         height: 66px;
         position: absolute;
         left: 0;
         top: 0;
         @media(max-width: 1550px){
            width: 100px;
         }
      }
   }
   &__content{
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      display: inline-block;
      z-index: 1;
   }
}

@media(max-width: 1550px){
   .custom-arrow{
      right: 15px!important;
   }
}