.service-one{
   &__single{
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
   }
   &__content{
      background: #F3F0EC;
   }
   &__image{
      position: relative;
      text-align: right;
   }
   &__image-inner{
      margin-top: -30px;
      margin-right: -30px;
      width: 60%;
      min-height: 208px;
      display: inline-block;
      border: 30px solid $white;
      position: relative;
      @media (max-width: 1024px){
         border-width: 15px;
         margin-top: -15px;
         margin-right: -15px;
         width: 75%;
      }
      img{
         width: 100%!important;
         height: 100%!important;
         object-fit: cover;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      &:before{
         content: "";
         position: absolute;
         bottom: 15px;
         left: 15px;
         width: 55px;
         height: 51px;
         display: block;
         background: $white;
         clip-path: polygon(0 0, 0% 100%, 100% 100%);
         z-index: 1;
         @media (max-width: 1024px){
            width: 40px;
            height: 41px;
         }
      }
   }
   &__content-inner{
      padding: 25px 30px;
   }
   &__icon{
      width: 80px;
      height: 80px;
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $theme-color;
      border-radius: 50%;
      position: absolute;
      top: 55px;
      left: 30px;
      z-index: 1;
      transition: all 0.5s;
      @media (max-width: 1024px){
         width: 75px;
         height: 75px;
         font-size: 30px;
         top: 30px;
         left: 15px;
      }
      &:before{
         display: none;
         content: "";
         background: url('#{$image-theme-path-base}bg-service.svg') no-repeat center center;
         background-size: contain;
         filter: brightness(0) invert(1);
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 50%;
      }
      i{
         position: relative;
         z-index: 2;
      }
   }
   &__shape{
      position: absolute;
      top: 0;
      left: 0;
      svg{
         width: 100%!important;
         fill: $white;
         path{
            transition: all 0.35s;
         }
      }
   }
   &__title{
      margin: 0 0 10px;
      font-size: 22px;
   }
   &__desc{
      font-size: 16px;
      line-height: 28px;
   }
   &__link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
   }
   &__single{
      &:hover, &:focus, &.active{ 
         .service-one{
            &__icon{
               color: $white;
            }
            &__shape{
               svg path{
                  fill: $theme-color;
               }
            }
         }
      }
   }
}

.last-special .service-one{
   &__single{
      min-height: 300px;
   }
   &__image{
      position: absolute;
      z-index: 9;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      overflow: hidden;
      &:after{
         display: none;
      }
      img{
         position: absolute;
         height: 100%;
         width: 100%;
         object-fit: cover;
         transform: translate(-50%, -50%);
         top: 50%;
         left: 50%;
      }
      &:before{
         content: '';
         z-index: 1;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background: $theme-color-2;
         opacity: 0.9;
      }
   }
   &__icon{
      display: none;
   }
   &__content{
      position: relative;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after{
         content: '';
         z-index: 1;
         width: 100%;
         height: 100%;
         background: $theme-color;
         position: absolute;
         top: 0;
         left: 0;
      }
   }
   &__content-inner{
      z-index: 11;
      padding: 30px;
      clip-path: none;
      background: none;
      @media(max-width: 1024px){
         padding: 30px 15px;
      }
   }
   &__title{
      color: $white;
      font-size: 24px;
      padding: 0 0 30px;
   }
   &__desc{
      color: #a0a0c0;
      margin-bottom: 30px;
   }
}

.service-two{
   &__single{
      background: $white;
      text-align: center;
      border: 10px solid transparent;
      transition: all 0.5s;
      position: relative;
      margin-bottom: 30px;
   }
   &__image{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.5s;
      img{
         position: absolute;
         height: 100%!important;
         width: 100%!important;
         -o-object-fit: cover;
         object-fit: cover;
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         top: 50%;
         left: 50%;
      }
   }
   &__content{
      border: 1px solid $border-color;
      padding: 0 30px 25px 30px;
      transition: all 0.5s;
      @media(max-width: 1024px){
         padding-left: 15px;
         padding-right: 15px;
      }
   }
   &__content-inner{
      position: relative;
      z-index: 9;
   }
   &__icon{
      width: 80px;
      height: 80px;
      font-size: 32px;
      background: $theme-color;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      z-index: 9;
      &:before{
         content: '';
         width: 100%;
         height: 0;
         position: absolute;
         bottom: 0;
         left: 0;
         background: $theme-color;
         transition: all 0.5s;
         z-index: -1;
      }
   }
   &__title{
      margin: 25px 0 10px;
   }
   &__desc{
      line-height: 26px;
   }
   &__button{
      margin-top: 10px;
   }
   &__link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
   }
   &__single{
      &:hover, &:focus{
         border-color: $theme-color;
         .service-two{
            &__image{
               opacity: 0.2;
            }
            &__content{
               border-color: $theme-color;
               border-radius: 0;
            }
            &__icon{
               &:before{
                  height: 100%;
               }
            }
         }
      }
   }
}

.service-three{
   &__single{
      background: $white;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 30px;
      transition: all 0.5s;
      position: relative;
   }
   &__image{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      transition: 0.8s;
      img{
         position: absolute;
         height: 100%!important;
         width: 100%!important;
         -o-object-fit: cover;
         object-fit: cover;
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         top: 50%;
         left: 50%;
      }
   }
   &__content{
      padding: 90px 30px 50px;
      transition: all 0.8s;
      position: relative;
      border: 1px solid $border-color;
      @media(max-width: 1024px){
         padding-left: 15px;
         padding-right: 15px;
      }
      &:after{
         content: '';
         background: $black;
         width: 100%;
         height: 0%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         transition: all 0.8s;
         opacity: 0;
      }
   }
   &__content-inner{
      position: relative;
      z-index: 11;
   }
   &__icon{
      width: 120px;
      height: 120px;
      margin: 0 auto;
      position: absolute;
      top: -60px;
      left: 50%;
      margin-left: -60px;
      border-radius: 50%;
      z-index: 11;
      display: inline-block;
      padding: 10px;
      background: $border-color;
      transition: all 0.8s;
      &:after{
         content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 50%;
         background: $theme-color;
         transform: scale(1.2);
         transition: all 0.8s;
         z-index: -1;
         opacity: 0;
      }
   }
   &__icon-inner{
      width: 100%;
      height: 100%;
      background: $white;
      color: $theme-color;
      font-size: 32px;
      background: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.8s;
      svg{
         fill: $white;
      }
   }
   &__title{
      margin: 0 0 15px;
      font-size: 20px;
   }
   &__desc{
      line-height: 28px;
      transform: all 0.5s;
   }
   &__button{
      margin-top: 25px;
   }
   &__link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
   }
   &__single{
      &:hover, &:focus, &.active{
         border-color: $theme-color;
         .service-three{
            &__image{
               opacity: 0.1;
            }
            &__content{
               border-color: $black;
               &:after{
                  opacity: 1;
                  height: 100%;
               }
            }
            &__icon{
               &:after{
                  transform: scale(1);
                  opacity: 1;
               }
            }
            &__icon-inner{
               color: $white;
               background: $theme-color;
               svg{
                  fill: $white;
               }
            }
            &__title{
               color: $white;
               a{
                  color: $white;
               }
            }
            &__desc{
               color: $white;
            }
         }
      }
   }
}

.swiper-slide.item-active.center{
   .service-three{
      &__single{
         border-color: $theme-color;
         .service-three{
            &__image{
               opacity: 0.1;
            }
            &__content{
               &:after{
                  opacity: 1;
                  height: 100%;
               }
            }
            &__icon{
               &:after{
                  transform: scale(1);
                  opacity: 1;
               }
            }
            &__icon-inner{
               color: $white;
               background: $theme-color;
               svg{
                  fill: $white;
               }
            }
            &__title{
               color: $white;
               a{
                  color: $white;
               }
            }
            &__desc{
               color: $white;
            }
         }
      }
   }
}

// Service Four
.service-four{
   &__single{
      margin-bottom: 30px;
      background: $white;
      position: relative;
   }
   &__content{
      padding: 0 30px 30px;
      position: relative;
      box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.08);
   }
   &__icon{
      display: flex;
      justify-content: center;
      align-items: center;
      background: $bg-gray;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 8px solid $white;
      font-size: 36px;
      color: $theme-color;
      margin-top: -50px;
      transition: all 0.5s;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   }
   &__title{
      font-size: 22px;
      margin: 25px 0 15px;
   }
   &__content-desc{
      margin-bottom: 20px;
   }
   &__overlay-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
   }
   &__single{
      &:hover{
         .service-four{
            &__icon{
               background: $theme-color;
               color: $white;
               animation: beat 1.5s ease 0s infinite;
            }
         }
      }
   }
}