.team-one{
	&__single{
		position: relative;
		max-width: 450px;
		overflow: hidden;
		margin: 0 auto 30px;
	}
	&__image{
		position: relative; 
		overflow: hidden;
		text-align: center;
		img{
			width: 100%;
		}
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: $theme-color-2;
			opacity: 0;
			transition: all 0.35s;
		}
	}
	&__content{
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0;
		z-index: 2;
		width: 100%;
		text-align: center;
		transform: translateY(50%);
		transition: all 0.35s;
	}
	&__name{
		font-size: 20px;
		padding: 5px 0 6px;
		line-height: 20px;
		span{
			background: url(#{$image-theme-path-base}bg-team-name.svg) no-repeat center center;
			background-size: contain;
			color: $white;
			padding: 13px 20px;
		}
	}
	&__job{
		font-size: 16px;
		font-weight: 400; 
		color: #E9C138;
		font-family: $font-second;
	}
	&__social-link{
		margin-bottom: 20px;
		> a{
			display: inline-block;
			color: $white;
			text-align: center;
			padding: 0 5px;
			line-height: 1;
			transition: all 0.35s;
		}
	}
	&__single{
		&:hover, &:focus{
			.team-one{
				&__image:after{
					opacity: 0.8;
				}
				&__content{
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}
.swiper-slide.item-active.center{
	.team-one{
		&__image:after{
			opacity: 0.8;
		}
		&__content{
			opacity: 1;
			transform: translateY(0);
		}
	}
}
.team-two{
	&__single{
		background: $white;
		position: relative;
		margin: 0 auto 30px;
		padding: 30px 20px;
		border: 5px solid $border-color;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		transition: all 0.35s;
	}
	&__image{
		position: relative; 
		text-align: center;
		flex: 0 0 186px;
		width: 186px;
	}
	&__image-content{
		overflow: hidden;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		position: relative;
		img{
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}
	}
	&__link-content{
		display: block;
		position: relative;
		height: 100%;
		&:after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: rgba(0, 0, 0, 0.3);
			opacity: 0;
			transition: all 0.35s;
		}
	}
	&__socials{
		position: absolute;
		bottom: -6px;
		right: 25px;
		z-index: 11;
	}
	&__socials-control{
		display: inline-block;
		width: 40px;
		height: 40px;
		background: $theme-color;
		color: $white;
		line-height: 40px;
		text-align: center;
		border-radius: 50%;
	}
	&__social-link{
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 40px;
		background: $theme-color;
		border-radius: 30px;
		padding: 5px 0;
		margin-bottom: -15px;
		opacity: 0;
		transition: all 0.5s;
		> a{
			display: block;
			color: $white;
			text-align: center;
			font-size: 14px;
			margin: 12px 0;
			line-height: 1;
			opacity: 0.8;
			transition: all 0.35s;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__content{
		text-align: center;
		flex: 0 0 100%;
	}
	&__name{
		font-size: 20px;
		line-height: 32px;
		margin: 20px 0 0;
	}
	&__job{
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
	}
	&__desc{
		line-height: 30px;
		margin: 10px 0 16px;
	}
	&__single{
		&:hover{
			box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
			border-color: $theme-color;
			.team-two__social-link{
				margin-bottom: 5px;
				opacity: 1;
			}
		}
		&.active{
			box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
			border-color: $theme-color;
		}
	}
}

.swiper-slide.item-active.center{
	.team-two__single{
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
		border-color: $theme-color;
	}
} 