.testimonial-one{
	&__single{
		position: relative;
		transition: all 0.35s;
		margin: 0 auto 30px;
		@media(min-width: 576px){
			padding-top: 105px;
			display: flex;
			align-items: center;
		}
	}
	&__content{
		padding: 90px 40px 40px;
		background: $white;
		position: relative;
		&:before{
			width: 113px;
			height: 112px; 
			content: "";
			position: absolute;
			top: -15px;
			left: -15px;
			background: #26DA90;
			clip-path: polygon(0 0, 0% 100%, 100% 0);
			@media (max-width: 575px) {
				width: 60px;
				height: 60px; 
			}
		}
		@media(max-width: 1024px){
			padding-top: 70px;
		}
		@media (max-width: 575px) {
			padding: 30px 15px;
		}
	}
	&__quote{
		font-size: 20px;
		line-height: 34px;
		margin-bottom: 50px;
		background: $white; 
		color: $headings-color;
		@media(max-width: 1024px){
			font-size: 20px;
		}
		@media (max-width: 575px) {
			font-size: 16px;
			margin-bottom: 30px;
		}
	}
	&__stars{
		font-size: 15px;
		letter-spacing: 1.5px;
		margin: 10px 0;
		i{
			color: $theme-color;
		}
	}
	&__quote-icon{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		font-size: 65px;
		color: $theme-color;
		-webkit-text-fill-color: $theme-color-2;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $theme-color;
		@media (max-width: 575px) {
			font-size: 40px;
		}
	}
	&__meta{
		@media(min-width: 800px){
			display: flex;
			align-items: center;
		}
		position: relative;
	}
	&__image{
		flex: 0 0 125px;
		margin-right: 75px;
		border-radius: 50%;
		img{
			border-radius: 50%;
			box-shadow: 0 0 0 1px $theme-color;
		}
		@media(max-width: 1024px){
			margin-right: 30px;
		}
		@media (max-width: 575px) {
			margin-bottom: 40px;
			max-width: 100px;
		}
	}
	&__name{
		font-size: 24px;
		font-weight: 600;
		color: $headings-color;
		display: block;
		margin-bottom: 10px;
		@media(max-width: 1024px){
			font-size: 20px;
		}
	}
	&__job{
		font-size: 16px;
		color: $theme-color;
		display: block;
		line-height: 18px;
	}
	&__information{
		@media(min-width: 800px){
			padding-right: 50px;
			margin-right: 50px;
			border-right: 1px solid $border-color;
			@media(max-width: 1024px){
				padding-right: 30px;
				margin-right: 30px;
			}
		}
	}
	&:hover{

	}
}
.gsc-testimonial.style-1{
	&.swiper-slider-wrapper {
		@media(min-width: 576px){
			.swiper-nav-next, 
			.swiper-nav-prev{
			    opacity: 1;
			    margin: 0 10px;
			    position: initial;
			    border-color: $white;
			    color: $theme-color;
			    &:hover{
			    	background: $black;
			    	color: $white;
			    }
			    @media(max-width: 1024px){
					margin: 0 5px;
				}
			}
			.swiper-navagation{
				position: absolute;
				right: 0;
				bottom: 30px;
	    		z-index: 2;
				background: $theme-color;
				padding: 35px 50px;
				@media(max-width: 1024px){
					padding: 30px;
				}
			}
		}
	}
}
.testimonial-two{
	&__single{
		margin-bottom: 30px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&__wrap{
		background: #F3F0EC;		
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('#{$image-theme-path-base}bg-testimonial-2.png') no-repeat top left;
			background-size: cover;
			z-index: 1;
			mix-blend-mode: multiply; 
		}
	}
	&__content{
		padding: 0 30px;
		position: relative;
		z-index: 2;
	}
	&__meta{
		width: 100%;
		margin-top: -40px;
		display: inline-flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__image{
		position: relative;
		flex: 0 0 87px;
		width: 87px;
		height: 87px;
		border-radius: 50%;
		z-index: 3;		
		img{
			border-radius: 50%;
			border: 4px solid $white;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__stars{
		font-size: 16px;
		color: $theme-color;
		letter-spacing: 1px;
		margin-bottom: -5px;
	}
	&__name{
		font-size: 22px;
		font-weight: 600;
		line-height: 28px; 
		margin-top: 0;
		margin-bottom: 5px;
		color: $white;
		@media(max-width: 1024px){
			font-size: 20px;
		}
		@media(max-width: 860px){
			font-size: 18px;
		}
	}
	&__job{
		color: $white;
		line-height: 18px;
		font-size: 14px;
	}
	&__quote-icon{
		font-size: 50px;
		line-height: 1;
		color: $white;
		-webkit-text-fill-color: $theme-color;
  		-webkit-text-stroke-width: 2px;
  		-webkit-text-stroke-color: $white;
  		@media(max-width: 1024px){
			font-size: 45px;
			margin-left: 10px;
		}
  		@media(max-width: 767px){
			font-size: 40px;
		}
	}
	&__quote{
		margin-top: 20px;
		font-size: 20px;
		line-height: 34px;
		color: $headings-color;
		@media(max-width: 767px){
			font-size: 18px;
		}
	}
	&__bottom{
		margin-top: 30px;
		margin-bottom: -40px;
		background: $theme-color;
		padding: 25px 30px;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
		@media(max-width: 1024px){
			padding: 20px;
		}
		@media(max-width: 575px){
			width: 100%;
			padding: 15px;
		}
	}
}

.swiper-slide{
	.testimonial-two__single{
		
	}
}

.testimonial-three{
	&__single{
		margin-bottom: 30px;
	}
	&__content{
		position: relative;
		background: $white;
		padding: 40px;
		margin-top: 20px;
		@media (max-width: 1024px){
			padding: 30px;
		}
		&:before{
			content: "";
			position: absolute;
			bottom: 100%;
			left: 9px;
			right: 9px;
			height: 11px;
			background: $white;
			display: block;
			opacity: 0.6;
			z-index: 3;
		}
		&:after{
			content: "";
			position: absolute;
			bottom: 100%;
			left: 18px;
			right: 18px;
			height: 20px;
			background: $white;
			display: block;
			opacity: 0.3;
			z-index: 2;
		}
	}
	&__quote-icon{
		font-size: 50px;
		line-height: 1;
		color: $white;
		-webkit-text-fill-color: $white;
  		-webkit-text-stroke-width: 2px;
  		-webkit-text-stroke-color: $theme-color;
  		@media(max-width: 767px){
			font-size: 40px;
		}
	}
	&__meta{
		margin-top: 40px;
		display: flex;
		align-items: center;
	}
	&__image{
		position: relative;
		flex: 0 0 65px;
		width: 65px;
		height: 65px;
		border-radius: 50%;	
		margin-right: 15px;	
		img{
			border-radius: 50%;
			border: 3px solid $theme-color;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__name{
		font-size: 20px;
		font-weight: 600;
		line-height: 24px; 
		margin-top: 0;
		margin-bottom: 5px;
		@media(max-width: 1024px){
			font-size: 20px;
		}
	}
	&__job{
		color: $theme-color;
		line-height: 18px;
	}
	&__quote{
		padding-top: 30px;
		font-size: 20px;
		color: $headings-color;
		line-height: 32px;
		font-weight: 500;
		color: $theme-color-2;
		@media(max-width: 1024px){
			font-size: 18px;
			line-height: 30px;
			padding-top: 20px;
		}
	}
}

.swiper-slide{
	.testimonial-three__single{
		
	}
}