// GiveWP Item Progress

.givewp-item-progress{
	&.style-1{
		.campaign-raised-top{
			display: flex;
			justify-content: space-between;
			font-weight: 500;
		}
		.funded{
			padding-top: 5px;
	      .progress{
	         height: 7px;
	         background: $white;
	         border-radius: 10px;
	         border: 1px solid $theme-color;
	         overflow: visible;
	         .progress-bar{
	            background: $theme-color;
	            border-radius: 10px;
	            position: relative;
	            overflow: visible!important;
	            transition: none!important;
	            &:after{
	               content: '';
	               width: 18px;
	               height: 18px;
	               border-radius: 50%;
	               background: $white;
	               border: 5px solid $theme-color;
	               position: absolute;
	               right: -15px;
	               top: -6px;
	               z-index: 3; 
	            }
	         }
	         .progress-label{
	            font-size: 12px;
	            font-weight: 500;
	            color: $theme-color;
	            position: absolute;
	            left: 100%;
	            top: -30px;
	         }
	      }
		}
		.campaign-values{
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			font-size: 14px;
			font-weight: 500;
		}
	}

	&.style-2{
		.content-inner{
			display: flex;
			align-items: center;
			justify-content: center;
			.box-left{
				margin-right: 10px;
				.circle-progress{
					position: relative;
					strong{
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 100%;
						font-size: 38px;
						z-index: 1;
						text-align: center;
						font-weight: 400;
						color: $headings-color;
						letter-spacing: -1px;
						i{
							font-size: 20px;
							position: relative;
							top: -20px;
							font-style: normal;
						}
					}
				}
			}
			.box-right{
				padding-left: 15px;
				.content-item{
					position: relative;
					padding-bottom: 10px;
					margin-bottom: 14px;
					&:after{
						content: '';
						width: 30px;
						height: 1px;
						background: $theme-color;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 1;
					}
					&:last-child{
						padding: 0;
						margin: 0;
						&:after{
							display: none;
						}
					}
					> span{
						display: block;
						font-weight: 400;
					}
					.title{
						font-size: 14px;
						line-height: 1.2;
					}
					.value{
						color: $headings-color;
						font-size: 18px;
						font-weight: 600;
					}
				}
			}
		}
	}
}

.giveform-item-media{
	position: relative;
	overflow: hidden;
	.swiper-slide .item-image{
		position: relative;
		width: 100%;
		&:after{
			content: '';
			width: 100%;
			height: 80px;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			background: linear-gradient( 0deg, rgb(27,31,46) 0%, rgba(27,31,46,0) 100%);
			background: -moz-linear-gradient( 0deg, rgb(27,31,46) 0%, rgba(27,31,46,0) 100%);
			background: -webkit-linear-gradient( 0deg, rgb(27,31,46) 0%, rgba(27,31,46,0) 100%);
			background: -ms-linear-gradient( 0deg, rgb(27,31,46) 0%, rgba(27,31,46,0) 100%);
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	.content-meta{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 11;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0;
		.campaign-category{
			background: $theme-color;
			padding: 2px 20px 2px;
			border-radius: 20px;
			margin: 15px;
			a{
				display: inline-block;
				color: $white;
				font-size: 11px;
				font-weight: 500;
				letter-spacing: 2px;
				text-transform: uppercase;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.givewp-media{
			position: absolute;
			bottom: 10px;
			right: 15px;
		}
  	}
  	.swiper-slider-wrapper{
	  	.swiper-nav-next{
	  		right: 15px!important;
	  	}
	  	.swiper-nav-prev{
	  		left: 15px!important;
	  	}
	}
}

.give-form-socials-share{
	a{
		display: inline-block;
	}
	.welowe-icon {
	  background-attachment: initial;
	  background-image: url('#{$image-theme-path-base}icon-share.png');
	  background-repeat: no-repeat;
	  display: inline-block;
	  height: 26px;
	  width: 28px;
	  position: relative;
	  top: 2px;
	  margin-right: 5px;
	}

	.welowe-icon-facebook {
	  background-position: -28px -14px;
	}

	.welowe-icon-twitter {
	  background-position: -75px -14px;
	}

	.welowe-icon-gplus {
	  background-position: -122px -14px;
	}

	.welowe-icon-pinterest {
	  background-position: -169px -14px;
	}

	.welowe-icon-linkedin {
	  background-position: -212px -14px;
	}

	.welowe-icon-tumblr {
	  background-position: -296px -14px;
	}

	.welowe-icon-blogger {
	  background-position: -342px -14px;
	}
	.welowe-icon-delicious {
	  background-position: -389px -14px;
	}

	.welowe-icon-digg {
	  background-position: -436px -14px;
	}

	.welowe-icon-reddit {
	  background-position: -615px -14px;
	}

	.welowe-icon-stumbleupon {
	  background-position: -484px -14px;
	}

	.welowe-icon-pocket {
	  background-position: -528px -14px;
	}

	.welowe-icon-wordpress {
	  background-position: -572px -14px;
	}

	.welowe-icon-whatsapp {
	  background-position: -659px -14px;
	}

	.welowe-icon-embed {
	  background-position: -248px -15px;
	}
}

.givewp-content-form{
	.give-goal-progress{
	 display: none;
	}
	.give-form{
		button{
			font-size: 14px;
		}
	}
}

.widget-givewp-categories{
	.widget-content{
		ul.categories-listing{
			padding: 0;
		 	li{
				list-style: none;
				display: flex;
				padding: 6px 0;
				justify-content: space-between;
				margin-bottom: 5px;
				font-weight: 500; 
				a{
					
				}
				&:last-child{
					padding-bottom: 0;
					margin-bottom: 0;
					border: none;
				}
			}
		}
	}
}